.social {
  display: flex;

  & a {
    display: block;
    color: var(--color-brand--denim);
    padding: .25em;
    transform: scale(1);
    transition:
      color .15s,
      transform .15s;

    &:hover,
    &:focus {
      color: var(--color-brand--picton);
      transform: scale(1.1);
    }
  }
}