header[role="banner"] {
  background-color: var(--color-brand--charade);
  margin-bottom: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
}

.banner__title {
  font-size: 1.5em;
  font-weight: 900;

  & a {
    color: var(--color-brand--wheat);
  }
}

.banner__subtitle {
  color: var(--color-brand--ebb);
  font-size: .9em;
  margin-bottom: 1em;
}