.postlist {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.postlist__item {
  position: relative;

  &::before {
    background-color: var(--color-brand--wheat);
    content: "";
    height: 3px;
    left: -25px;
    position: absolute;
    top: -.75rem;
    transform: scaleY(1);
    transform-origin: top left;
    transition: transform .35s;
    width: 50px;
    z-index: -1;
  }

  & + .postlist__item {
    margin-top: 3rem;
  }

  &:hover::before,
  &:focus-within::before {
    transform: scaleY(20);
  }
}


.postlist__link,
.postlist__date,
.postlist__tags {
  display: block;
}

.postlist__link {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: .25em;
  text-decoration: underline;
}


.postlist__meta {
  align-items: center;
  display: flex;
  font-size: .75rem;
  font-style: italic;

  & > p {
    color: var(--color-neutral--eggshell);
    font-size: .5rem;
    margin-right: 1rem;
    margin-left: 1rem;
  }
}

.postlist__tags {
  display: flex;
  flex-flow: row wrap;
}

.postlist__tag {
  display: block;
  padding: .25em;

  & + .postlist__tag {
    margin-left: .5rem;
  }

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}