@import url('https://fonts.googleapis.com/css?family=Merriweather:400,400i,700,700i,900');

:root {
  --color-brand--denim: #1e60aa;
  --color-brand--picton: #5dabce;
  --color-brand--charade: #262b47;
  --color-brand--wheat: #b29e56;
  --color-brand--ebb: #f6f4f3;

  --color-neutral--white: hsl(0, 0%, 100%);
  --color-neutral--eggshell: hsl(0, 0%, 80%);
  --color-neutral--sweats: hsl(0, 0%, 60%);
  --color-neutral--statue: hsl(0, 0%, 40%);
  --color-neutral--raven: hsl(0, 0%, 20%);
  --color-neutral--black: hsl(0, 0%, 0%);

  --type-font--merriweather: "Merriweather", serif;
}