*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  background-color: var(--color-brand--ebb);
  font-family: var(--type-font--merriweather);
  font-weight: 400;
}