---
layout: layouts/base.njk
templateClass: tmpl-post
---
<h1 class="page-title">{{ title }}</h1>

{{ content | safe }}

<div class="post__footer-nav">
  <p><a href="{{ '/' | url }}"><i class="fas fa-arrow-left"></i> View the latest posts</a></p>
  <p><a href="{{ '/posts' | url }}">View all posts <i class="fas fa-arrow-right"></i></a></p>
</div>
  